.allcases {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 143px;
  background: #040305;
  border: 1px solid #222a68;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 8px 16px 8px 12px;
}

.cases-bg {
  background-image: url(../img/cases/WallpaperDog-20376240.png);
  background-position: center;
  background-size: cover;
}

.count-flex {
  display: flex;
}

.allcases img {
  margin-right: 10px;
  transition: 0.2s linear;
}

.allcases:hover img {
  margin-left: 5px;
}

.standart {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.standart-p1-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #fffbff;
}

.opening-num-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 35px;
  color: #fffbff;
}

.opening-num {
  display: flex;
}

.opening-span {
  width: 65px;
  height: 47.62px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fffbff;
  margin-left: 5px;
  padding: 15px;
  background-color: #574ae2;
  cursor: pointer;
  transition: linear 0.3s;
}

.opening-span:hover {
  background: #222a68;
}

.opening-btn {
  width: 105px;
  height: 40px;
  background: #574ae2;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 24px;
  padding: 10px 20px;
  color: #fffbff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s linear;
}

.opening-btn:hover {
  background: #222a68;
}
.case-open {
  width: 154px;
  height: 48px;
  background: #574ae2;
  border-radius: 10px;
  padding: 14px 24px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: #fffbff;
  margin-top: 30px;
}

.caseactive {
  background-color: #222a68;
}
.case-content {
  margin-top: 50px;
}

.case-content-container {
  max-width: 1210px;
  margin: auto;
}

.case-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #fffbff;
}

.case-content-title span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fffbff;
}
